<form action="/-/create" method="post" class="new_url">
  <h2>New Short URL:</h2>
  <input type="text" name="url" class="text" />
  <input type="submit" value="Go" class="submit"/>
</form>

<table>
  <tr>
    <th>Short</th>
    <th>Full</th>
  </tr>

  <% @links.each do |link| %>
  <tr>
    <td><a href="/<%= link.slug %>"><%= link.slug %></a></td>
    <td><a href="<%= link.url %>"><%= link.url %></a></td>
  </tr>
  <% end %>
</table>